<li id="spud_events_admin_calendar_legend_<%= calendar.id %>" class="spud_events_admin_calendar_legend_item">
  <%= content_tag :span, calendar.title, :style => "background-color: \##{calendar.color}"%>
  <div class="spud_events_admin_calendar_actions">
    <%= link_to 'edit', edit_spud_admin_spud_calendar_path(calendar) %>
    <%= link_to 'delete', [:spud_admin, calendar], :remote => true, :confirm => "This action can't be undone. Would you like to remove the calendar \"#{calendar.title}\"?", :method => :delete, :class => 'js-spud-calendar-delete-action' %>
  </div>
</li>
