/* Tables
----------------------- */
#f table{
  border-collapse: collapse;
  font-size: 13px;
  border: 1px solid #d9d9d9;;
  width: 100%;
}
#spud_events th{
  background-image: -webkit-gradient(
      linear,
      left bottom,
      left top,
      color-stop(0, rgb(244,244,244)),
      color-stop(1, rgb(255,255,255))
  );
  background-image: -moz-linear-gradient(
      center bottom,
      rgb(244,244,244) 6%,
      rgb(255,255,255) 53%
  );
}
#spud_events td, #spud_events th{
  padding: 0 10px;
  line-height: 30px;
  text-align: left;
  vertical-align: middle;
}
#spud_events td img, #spud_events  th img{
  display: block;
}
#spud_events tbody tr{
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;
  -webkit-transition:background 0.15s ease-in;
  -moz-transition:background 0.15s ease-in;
}
#spud_events tbody tr:hover{
  background: #f0f0f0;
  -webkit-transition:background 0.15s ease-in;
  -moz-transition:background 0.15s ease-in;
}

#spud_events_admin_calendar{
  width: 700px;
  padding-bottom: 50px;
  position: relative;
  float: left;
}
#spud_events_admin_calendar p:first-child{
  float: right;
}
#spud_events_admin_calendar table{
  margin: 15px 0 0;
}
#spud_events_admin_calendar th{
  text-align: center;
}
#spud_events_admin_calendar td{
  border: 1px solid #d9d9d9;;
  position: relative;
  height: 90px;
  padding: 0;
  vertical-align: top;
  width: 98px;
}
.spud_events_admin_calendar_date_container{
  padding: 18px 5px 0;
  position: relative;
}
span.spud_events_admin_calendar_date{
  position: absolute;
  top: 3px;
  right: 3px;
  font-size: 11px;
  line-height: 11px;
}
a.spud_events_admin_calendar_event_marker{
  color: black;
  font-size: 11px;
  padding: 0 3px;
  margin: 0 0 3px 0;
  line-height: 13px;
  display: block;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  text-decoration: none;
}
span.spud_events_admin_calendar_event_marker:last-child{
  color: #191919;
  margin: 0;
}

/* Event List
----------------------- */
aside{
  margin: 45px 0 0 725px
}

/*  Calendar Legend
----------------------- */
#spud_events_admin_calendar_legend{
  list-style: none;
  border: 1px solid #d9d9d9;
  padding: 0;
}
#spud_events_admin_calendar_legend li{
  display: block;
  padding: 5px 5px 5px 3px;
  -webkit-transition: background 0.15s ease-in;
}
#spud_events_admin_calendar_legend li:hover{
  background: #F0F0F0;
}
#spud_events_admin_calendar_legend li{
  border-bottom: 1px solid #d9d9d9;
}
#spud_events_admin_calendar_legend li:last-child{
  border: none;
}
.spud_events_admin_calendar_actions{
  text-align: right;
}
.spud_events_admin_calendar_actions a{
  color: gray;
}
#spud_events_admin_calendar_legend  span{
  display: inline-block;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;  
  padding: 2px 8px;
  margin: 8px 0 0 8px;
}

/* Calendar Color Picker
----------------------- */
.spud_events_admin_color_picker{
  height: 28px;
  width: 28px;
  display: block;
  background-image: url('/assets/colorpicker/images/select2.png');
  background-position: 50% 50%;
}
